<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>FOIL Method | Official band site</title>

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-1.0.0.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <!-- scripts -->
    <script type="text/javascript" src="/js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
  </head>
  <body>
    <div id="topbar"></div>
    <div id="page"></div>
    <div id="player"></div>

    <script id="template-topbar" type="text/template">
    <div class="topbar">
      <div class="container fixed">
        <h3><a class="logo" href="#/"><span>FOIL Method</span></a></h3>
        <ul class="nav">
          <li><a href="#/bio" class="nav-bio">bio</a></li>
          <li><a href="#/media" class="nav-media">media</a></li>
          <li><a href="#/calendar" class="nav-calendar">calendar</a></li>
          <li><a class="external nav-album" href="http://www.cdbaby.com/cd/colingailey" target="_blank"><span>album</span></a></li>
        </ul>
      </div>
    </div>
    </script>

    <script id="template-home" type="text/template">
      <div class="main-photo">
        <div class="page">
          <div class="quote">
            <span class="quote-mark">&ldquo;</span>
              Meet <em>FOIL Method</em>, a fiery original rock trio from Santa Cruz, CA.
            <span class="quote-mark">&rdquo;</span>
            <div class="read-more"><a href="#/bio">read more &raquo;</a></div>
          </div>
          <div class="next-show">

          </div>
        </div>
      </div>
    </script>

    <script id="template-player" type="text/template">
      <div class="arrow"></div>
      <div class="player">
        <object height="220" width="375"> <param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1050213&amp;show_comments=true&amp;auto_play=false&amp;show_playcount=true&amp;show_artwork=true&amp;color=000000&amp;theme_color=000000"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="220" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1050213&amp;show_comments=true&amp;auto_play=false&amp;show_playcount=true&amp;show_artwork=true&amp;color=000000&amp;theme_color=000000" type="application/x-shockwave-flash" width="375"></embed></object>
      </div>
    </script>

    <script id="template-bio" type="text/template">
      <div class="main-photo">
        <div class="page">
          <div class="bio">
            <h2>Bio</h2>
            <p>With a name like FOIL Method (which refers to the algebraic method for multiplying two binomials), you could mistake the local instrumental band for one of those ’90s-era math rock outfits. But this band reaches for something more expansive and contemporary, specializing in progressive rock leavened with pop melodicism and elements of electronic music. FOIL Method gives its songs the room to stretch into extended grooves that evolve into full-bore instrumental rave-ups, demonstrating an appreciation for sweeping melodic shifts and insistent, throbbing rhythms missed by many contemporary acts that attempt to update prog-rock.</p>
            <p>&mdash;SC Weekly, Sept. 2011</p>
            <p><a href="#/calendar">Check our calendar</a> for upcoming shows!</p>
          </div>
        </div>
      </div>
    </script>
    
    <script id="template-media" type="text/template">
      <div class="main-photo">
        <div class="page">
          <div class="media">
            <h2>Moe's Alley, 9/8/2011</h2>
            <p style="text-align:center;"><iframe width="853" height="480" src="http://www.youtube.com/embed/IRyBYTc3Jsg?hd=1" frameborder="0" allowfullscreen></iframe></p>
          </div>
        </div>
      </div>
    </script>

    <script id="template-calendar" type="text/template">
      <div class="main-photo">
        <div class="page">
          <div class="calendar">
            <p>No upcoming shows yet. Stay tuned!</p>
          </div>
        </div>
      </div>
    </script>

  </body>
</html>
