<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>FOIL Method | a band</title>

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-1.0.0.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <!-- scripts -->
    <script type="text/javascript" src="/js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
  </head>
  <body>
    <div id="topbar"></div>
    <div id="page"></div>

    <script id="template-topbar" type="text/template">
    <div class="topbar">
      <div class="container fixed">
        <h3><a class="logo" href="#/"><span>FOIL Method</span></a></h3>
        <ul>
          <li><a href="#/bio">bio</a></li>
          <li><a href="#/media">media</a></li>
          <li><a href="#/calendar">calendar</a></li>
          <li><a href="#/contact">contact us</a></li>
          <li><a href="#/blog">blog</a></li>
        </ul>
      </div>
    </div>
    </script>

    <script id="template-anon-home" type="text/template">
      <div class="main-photo"></div>
    </script>

  </body>
</html>
