html, body, #page {
  height: 100%;
}
body {
  background: black url(../images/noise.jpg);
}
h1 {
  font-weight: normal;
}
.main-photo {
  background: url(../images/main-photo.jpg) top no-repeat transparent fixed;
  height: 100%;
  padding-top: 110px;
}
.main-photo .page {
  margin: auto;
  width: 940px;
  position: relative;
}
.main-photo .quote {
  position: absolute;
  width: 550px;
  font-size: 3em;
  line-height: 1.3em;
  font-family: Georgia, serif;
  top: 200px;
  right: 70px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  color: #aaa;
}
.main-photo .quote .quote-mark {
  font-size: 1.5em;
}
.main-photo .quote em {
  font-style: normal;
  color: white;
}
div.topbar {
  padding-left: 30px;
  height: 110px;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}
div.topbar h3 {
  float: left;
  position: relative;
}
div.topbar a.logo {
  background: url(../images/logo.png) center no-repeat;
  display: block;
  position: absolute;
  width: 414px;
  height: 70px;
  border-radius: 5px;
}
a.logo span {
  display: none;
}
div.topbar h3, div.topbar ul {
  margin-top: 10px;
}
div.topbar ul {
  float: right;
  padding: 20px 20px 0 0;
}
div.topbar ul li a {
  padding: 15px 25px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
div.topbar ul li a:hover {
  background-color: rgba(0, 0, 0, 0.8);
}