html {
  background: black url(../images/noise.jpg);
}
body {
  background: transparent;
}
h1 {
  font-weight: normal;
}
.main-photo {
  background: url(../images/main-photo.jpg) top no-repeat transparent;
  height: 624px;
  padding-top: 110px;
}
.page {
  margin: auto;
  width: 940px;
  position: relative;
  color: #ddd;
}
.quote {
  position: absolute;
  width: 550px;
  font-size: 2em;
  line-height: 1.3em;
  font-family: Georgia, serif;
  top: 250px;
  right: 90px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  color: #ccc;
  text-align: center;
}
.quote .quote-mark {
  font-size: 1.5em;
}
.quote em {
  font-style: normal;
  font-size: 1.5em;
  color: white;
}
.quote .read-more {
  font-size: .7em;
}
.next-show {
  width: 440px;
  text-align: center;
}
div.topbar {
  padding-left: 30px;
  height: 110px;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}
div.topbar h3 {
  float: left;
  position: relative;
}
div.topbar a.logo {
  background: url(../images/logo.png) center no-repeat;
  display: block;
  position: absolute;
  width: 414px;
  height: 70px;
  border-radius: 5px;
}
a.logo span {
  display: none;
}
div.topbar h3, div.topbar ul {
  margin-top: 10px;
}
div.topbar ul {
  float: right;
  padding: 20px 20px 0 0;
}
div.topbar ul li a {
  padding: 15px 25px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
div.topbar ul li a:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
#player {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
}
.arrow {
  height: 128px;
  background: url(../images/down-arrow.png) top left no-repeat;
}
.player {
  margin-left: 30px;
}
.bio, .calendar {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px;
  color: #ccc;
  margin: 0 50px;
}
h2 {
  color: white;
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 3em;
  color: white;
}
.page {
  color:
}
.page a {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted white;
}
.page p {
  margin: 1.5em 0;
  font-size: 1.2em;
}
.page ul li {
  margin: 1.5em 0;
  color: #ddd;
}
.external span {
  background: url(../images/external.png) right no-repeat;
  padding-right: 16px;
}